<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
	<header class="md-primary">
		<a ui-sref="{{item.logo.url}}">
			<img ng-src="{{item.logo.imglink}}" alt="" class="md-accent"/>
			<h1 class="site-logotype md-heading md-accent" ng-bind="item.logo.text"></h1>
		</a>
	</header>
	<md-content flex role="navigation">
		<ul>
			<li ng-repeat="section in item.sections" class="{{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section)}">
				<h2 class="md-subhead md-accent" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}" ng-bind="section.name"></h2>
				<menu-link section="section" ng-if="section.type === 'link' && !section.hidden"></menu-link>
				<menu-toggle section="section" ng-if="section.type === 'toggle' && !section.hidden"></menu-toggle>
				<ul ng-if="section.children">
					<li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
						<menu-link section="child" ng-if="child.type === 'link'"></menu-link>
						<menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
					</li>
				</ul>
			</li>
		</ul>
	</md-content>
</md-sidenav>